<a href="https://colab.research.google.com/github/Saifsk06/Saif_Data_Analyst/blob/main/IF_conditions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Write  python programme to find repeated ITEMS in  tuple?

In [ ]:
a = (2,4,5,6,7,8,9,4,9)
print(a.count(9))

2

In [ ]:
color = ["red",'blue','black','white']
x = frozenset (color)
print(x)

frozenset({'black', 'white', 'red', 'blue'})

In [ ]:
color1 = {'1':"red",'2':"blue",'3':"black",}
x1 = frozenset (color1)
print(x1)

frozenset({'2', '3', '1'})

In [ ]:
mydictionary = {0:1,1:2,2:3}
mydictionary.update({3:4})
print(mydictionary)
mydictionary.update({4:5})
print(mydictionary)
mydictionary.update({5:6})
print(mydictionary)

{0: 1, 1: 2, 2: 3, 3: 4}
{0: 1, 1: 2, 2: 3, 3: 4, 4: 5}
{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [ ]:
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
d4 = {}
for d in (dic1,dic2,dic3):d4.update(d)
print(d4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

def is_key_present(x):
    if x in d:
        print('Key is present in the dictionary')
    else:
        print('Key is not present in the dictionary')

# Example usage
is_key_present(3)  # Output: Key is present in the dictionary
is_key_present(7)  # Output: Key is not present in the dictionary

Key is present in the dictionary
Key is not present in the dictionary

In [ ]:
d = {'x': 10, 'y': 20, 'z': 30}
for dict_key, dict_value in d.items():
  print(dict_key, '->', dict_value)

x -> 10
y -> 20
z -> 30

In [ ]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
for dict_key, dict_value in my_dict.items():
  print(dict_key, '->', dict_value)

data1 -> 100
data2 -> -54
data3 -> 247

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
for dict_key, dict_value in my_dict.items():
  print(dict_key,'*', dict_value)

data1 * 100
data2 * -54
data3 * 247

In [ ]:
mydict = {'a':1,'b':2,'c':3,'d':4}
mydict.pop('a')
print(mydict)

{'b': 2, 'c': 3, 'd': 4}

In [ ]:
def test(dictionary):
    for key in dictionary:
        dictionary[key].clear()
    return dictionary

dictionary = {
    'C1': [10, 20, 30],
    'C2': [20, 30, 40],
    'C3': [12, 34]
}

print("\nOriginal Dictionary:")
print(dictionary)
print("\nClear the list values in the said dictionary:")
print(test(dictionary))

Original Dictionary:
{'C1': [10, 20, 30], 'C2': [20, 30, 40], 'C3': [12, 34]}

Clear the list values in the said dictionary:
{'C1': [], 'C2': [], 'C3': []}

In [ ]:
def test(dictt):
    result = {}
    for val in dictt.values():
        result[val] = len(val)
    return result
color_dict = {1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
print("\nOriginal Dictionary:")
print(color_dict)
print("Length of dictionary values:")
print(test(color_dict))

Original Dictionary:
{1: 'red', 2: 'green', 3: 'black', 4: 'white', 5: 'black'}
Length of dictionary values:
{'red': 3, 'green': 5, 'black': 5, 'white': 5}

In [ ]:
def test(dictt, N):
    result = sorted(dictt, key=dictt.get, reverse=True)[:N]
    return result
dictt = {'a':5, 'b':14, 'c': 32, 'd':35, 'e':24, 'f': 100, 'g':57, 'h':8, 'i': 100}
print("\nOriginal Dictionary:")
print(dictt)
N = 1
print("\n",N,"maximum value(s) in the said dictionary:")
print(test(dictt, N))
N = 2
print("\n",N,"maximum value(s) in the said dictionary:")
print(test(dictt, N))
N = 5
print("\n",N,"maximum value(s) in the said dictionary:")
print(test(dictt, N))

Original Dictionary:
{'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}

 1 maximum value(s) in the said dictionary:
['f']

 2 maximum value(s) in the said dictionary:
['f', 'i']

 5 maximum value(s) in the said dictionary:
['f', 'i', 'g', 'd', 'c']

In [ ]:
Python 3.12.1 (tags/v3.12.1:2305ca5, Dec  7 2023, 22:03:25) [MSC v.1937 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

  a = input(30)
30
  b = input(46)
46
  print(a+b)

  a = input('30')
30
  b = input('46')
46
  print(a+b)

  a = input("Ener first number")
Ener first number30
  b = input("Enter second number")
Enter second number40
  print(a+b)
3040
  a = int(input("Ener first number"))
Ener first number300
  b = int(input("Enter second number"))
Enter second number800
  rint(a+b)
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'rint' is not defined. Did you mean: 'print'?
  print(a+b)
1100
  print(a*b)
240000

  num1 = eva(input("number"))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'eva' is not defined. Did you mean: 'eval'?
  num1 = eva(input("enter first number"))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'eva' is not defined. Did you mean: 'eval'?

  x = rval(input("enter num"))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'rval' is not defined. Did you mean: 'eval'?


  x = eval(input("enter num"))
enter num20
  y = eval(input("enter num"))
enter num45.3
  print(x+y)
65.3

  q = eval(list(10,20,30))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
TypeError: list expected at most 1 argument, got 3

  q = (10,20,30)
  print(list(q))
[10, 20, 30]
  print(set(q))
{10, 20, 30}
  print(tuple(q))
(10, 20, 30)
  print(dic(q))
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
NameError: name 'dic' is not defined. Did you mean: 'dir'?
  print(dir(q))
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

  a= 10
  b= 20
  if a<b:
        print("A is less tha b)
  File "<stdin>", line 2
    print("A is less tha b)
          ^
SyntaxError: unterminated string literal (detected at line 2)

  a= 10
  b= 20
  if a<b:
        print("A is less tha b")

A is less tha b

  a= 1000
  b=100
  if a<b:
        print("A is small")
    else:
    a = input("A is big")
  File "<stdin>", line 4
    a = input("A is big")
    ^
IndentationError: expected an indented block after 'else' statement on line 3


  a= 1000
  b=100
  if a<b:
        print("A is small")
    else:
        print("A is big")

A is big

  x= int(input("enter a number"))
enter a number20
  y= int(input("enter a number"))
enter a number30

  if x>y:
        print("Big")
    elif x<y:
        print("small")
    elif x==y:
        print("equal")
    elif x!=y:
        print("not equal")

small

  x = 50

  if x>20:
        print("above 20")
    if x>30:
  File "<stdin>", line 3
    if x>30:
    ^^
SyntaxError: invalid syntax
  x = 50
  if x>20:
        print("above 20")
        if x>30:
        print("above 30")
  File "<stdin>", line 4
    print("above 30")
    ^
IndentationError: expected an indented block after 'if' statement on line 3


  a= 200
  b=30
  if b>a:
        print("a is less tha a")
    elif a==b:
        print("a and b is equal")
    else:
        print("a is greater than b")

a is greater than b

In [ ]:
a = input("Ener first number")

Ener first number30

In [ ]:
b = input("Enter second number")

Enter second number40

In [ ]:
print(a+b)

3040

In [ ]:
a = int(input("Ener first number"))

Ener first number30

In [ ]:
b = int(input("Enter second number"))

Enter second number40

In [ ]:
print(a+b)

70

In [ ]:
x = eval(input("enter num"))

enter num20

In [ ]:
y = eval(input("enter num"))

enter num65.3

In [ ]:
print(x+y)

85.3

In [ ]:
q = (10,20,30)
print(list(q))
print(tuple(q))
print(set(q))

[10, 20, 30]
(10, 20, 30)
{10, 20, 30}

In [ ]:
a= 10
  b= 20
  if a<b:
        print("A is less tha b")

A is less tha b

IndentationError: unexpected indent (<ipython-input-27-7c42d2d176ed>, line 2)

In [ ]:
a= 1000
  b=100
  if a<b:
        print("A is small")
    else:
        print("A is big")

A is big

In [ ]:
x= int(input("enter a number"))

enter a number20

In [ ]:
y= int(input("enter a number"))

enter a number30

In [ ]:
if x>y:
  print("Big")
  elif x<y:
        print("small")
  elif x==y:
        print("equal")
  elif x!=y:
        print("not equal")

small

SyntaxError: invalid syntax (<ipython-input-2-2041e7f3d0ea>, line 3)

In [ ]:
savings = 30000
iphone = 150000
if savings < iphone:
  print("not sufficient amount")
  if savings > iphone:
      print('I got iphone 15 pro max')
  else:
      print('saving is less than iphone amount')
else:
  print("i didn't get the iphone ")

not sufficient amount
saving is less than iphone amount

In [ ]:
saving = 30000
phone = 150000

if saving >phone:
  print('yes it saficient amount')
else:
    print('ok no worry I want to buy another phone')
    if saving >= 15000:
        print('yes I bought the onplus')
    else:
        print('sorry you did not get')

ok no worry I want to buy another phone
yes I bought the onplus

In [ ]:
user= int(input('total month of number'))
qtr1=1
qtr2=2
qtr3=3
qtr4=4

if user == 12:
  print("yes,so we see the month season")
if qtr1==1:
    print('November', 'December', 'January')
    if qtr2==2:
      print('february', 'march', 'april')
      if qtr3==3:
        print('may','jun','july')
        if qtr4==4:
          print('august', 'sept', 'october')
else:
    print("Thank you")

total month of number12
yes,so we see the month season
November December January
february march april
may jun july
august sept october

In [ ]:
price = 5000
if price==6000:
  print('price')
  if price >=7000:
    print(7000)
elif price <6000:
  print('price is less')
else:
    print('ok thank you')

price is less

In [ ]:

#LOOP lis
things = ['mobile','laptop','earphone','watch','charger','remote']
for t in things:
  print(t)

mobile
laptop
earphone
watch
charger
remote

In [ ]:
for t in ['mobile','laptop','earphone','watch','charger','remote']:
  print(t)

mobile
laptop
earphone
watch
charger
remote

In [ ]:
t = (10,20,30,40,50,60,70)
for n in t:
  print(n)

10
20
30
40
50
60
70

In [ ]:
for t in (10,20,30,40,50,60,70):
  print(t)

10
20
30
40
50
60
70

In [ ]:
#for loop dictionary: keys
name = {'n1':'naaz','n2':'saif','n3':'varsha','n4':'salim'}
for n in name:
  print(n)

n1
n2
n3
n4

In [ ]:
#for loop dictionary: values
name = {'n1':'naaz','n2':'saif','n3':'varsha','n4':'salim'}
for n in name:
  print(name[n])

naaz
saif
varsha
salim

In [ ]:
#or names:
name = {'n1':'naaz','n2':'saif','n3':'varsha','n4':'salim'}
for n in name.values():
  print(n)

naaz
saif
varsha
salim

In [ ]:
# to return both keys name:values:keys
name = {'n1':'naaz','n2':'saif','n3':'varsha','n4':'salim'}
for n in name :
  print(n,name[n])

n1 naaz
n2 saif
n3 varsha
n4 salim

In [ ]:
for n in name.items():
  print(n)

('n1', 'naaz')
('n2', 'saif')
('n3', 'varsha')
('n4', 'salim')

In [ ]:
for n,m in name.items():
  print(n,m)

n1 naaz
n2 saif
n3 varsha
n4 salim

In [ ]:
#looping through a string:
x = 'my name is saif'
for name in x:
  print(name)

m
y

n
a
m
e

i
s

s
a
i
f

In [ ]:
num = 1
while num <= 10:
  print(num)
  num+=2 #Num= num+1

1
3
5
7
9

In [ ]:
count = 1
while count <=3:
  count = count+1
  print('hello')

hello
hello
hello

In [ ]:
a = 33
b = 200
if b > a:
  print("Hello world")
  else:
    print("Bye")

SyntaxError: invalid syntax (<ipython-input-23-e9434220157d>, line 5)

In [ ]:
#FUNCTIONS:
def employee():
  print("Hello from employee")
employee()

Hello from employee

In [ ]:
def myfunctions():
  pass

In [ ]:
#Arguments:
def details(name,sname,rollno,addr):
  print(name,sname,rollno,addr)

details("saif","sutar","321","katraj")

saif sutar 321 katraj

In [ ]:
def empdata(empname,empid,empaddr):
  print(empname)
  print(empaddr)

empdata("saif","katraj","102")

saif
102

In [ ]:
#Scope of value:
#LOCAL SCOPE:

def myfun():
  x = 100
  print(x)
myfun()

100

In [ ]:
#GLOBAL SCOPE:

x = 200
def myfun():
  y = 300
  print(y)
  print(x)
myfun()

300
200

In [ ]:
#LAMBDA FUNCTION:
#Normal function:

def add(x,y):
  print(x+y)

add(20,30)

50

In [ ]:
#Lambda fun:

add = lambda x,y: x-y
print(add(100,40))

60

In [ ]:
#Multiple Argument:

mul= lambda t,y: t*y*10*5
print(mul(4,5))

1000

In [ ]:
import random
random.randint(1,6)

5

In [ ]:

random.randrange(1,20,2)

17

In [ ]:
a= ["pune","mumbai","delhi","kolkata"]
random.choice(a)

'h'

In [ ]:
import random
x = {'mobile','laptop','machine','tools','smartphone'}
random.sample(x,k=2)

<ipython-input-36-3847b5e2e461>:3: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  random.sample(x,k=2)

['machine', 'tools']

In [ ]:
import random
random.randint(1,6)

4

In [ ]:
import random
random.randrange(1,6,2)

3

In [ ]:
import random
random.random()

0.2558320759445488

In [ ]:
random.uniform(10,20)

10.470030659513403

In [ ]:
a = ['apple','banana','waatermelon','guava']
random.choice(a)

'banana'

# New Section